.home {
  section.hero {
    h1 {
      line-height: 1.1em;
    }
    
    h2 {
      margin: 0 auto;
      max-width: 800px;
      color: $grey-700;
      font-weight: 300;
      font-size: 1.5em;
      line-height: 1.25em;
    }
  }

  .diagram-wrap {
    margin: 40px auto 0;
    max-width: 939px;
  }

  .feature-github {
    background-color: $deep-orange-500;
    padding: 60px 0;
    color: #fff;
    .diagram-wrap {
      padding: 20px 40px;
    }
    h4, p {
      opacity: .5;
    }
    h4 {
      margin-top: 0;
      text-transform: uppercase;
    }
  }

  section.proof-works {
    h2 {
      margin-bottom: 30px;
      span {
        color: $deep-orange-500;
      }
    }
    p {
      margin: 0 auto;
      max-width: 680px;
      font-size: 1.429em;
      line-height: 1.8em;
    }
    img.whitepaper {
      margin: 40px auto;
      width: 170px;
      height: 170px;
    }
  
  }

  section.proof-what {
    background-color: $grey-100;
    h2 {
      margin-bottom: 30px;
      span {
        color: $deep-orange-500;
      }
    }
    p {
      margin: 0 auto;
      max-width: 680px;
      font-size: 1.429em;
      line-height: 1.8em;
    }
    img.whitepaper {
      margin: 40px auto;
      width: 170px;
      height: 170px;
    }
  }

  section.proof-tools {
    .text-block {
      background-color: $grey-50;
      border: 1px solid #BDBDBD;
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      padding: 43px 46px;
      font-weight: 300;
      position: relative;
    }
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      color: $deep-orange-500;
    }
    .subhead {
      margin: 20px 0 0 20px;
      font-size: 1.143em;
    }
    .btn {
      position: relative;
      bottom: 0px;
      margin-top: 20px;
      width: 75%;
      background-color: $light-blue-700;
      border-color: $light-blue-700;
    }
    @media (max-width: $screen-md-max) {
      .btn {
        width: 100%;
      }
    }
    @media (max-width: $screen-sm-min) {
      .text-block {
        padding: 20px;
        margin: 40px 20px;
      }
      .btn {
        width: 80%;
      }
    }
  }

  section.proof-versions {
    padding: 0 0 30px 0;
    text-align: left;
    h2 {
      margin-top: 0;
      margin-bottom: 10px;
      color: $deep-orange-500;
      text-align: left;
    }
    small {
      display: block;
      font-style: italic;
      color: $grey-500;
    }
  }

  section.proof-verify {
    background-color: $grey-100;
    h2 {
      margin-bottom: 30px;
      span {
        color: $deep-orange-500;
      }
    }
    p {
      margin: 0 auto;
      max-width: 680px;
      font-size: 1.429em;
      line-height: 1.8em;
    }
  }
  .table-section-header {
    .required {
      font-style: italic;
      font-weight: 400;
      color: $grey-500;
    }
  }
}
