.syntax-highlighted-container pre[class*="language-"] > code {
  font-size: 1.25em;
  border-left: none;
  box-shadow: 0px 0px 0px 1px $grey-300;
  background-image: linear-gradient(transparent 50%, $grey-100 50%);

  & .token.property {
    color: $light-blue-700;
  }

  & .token.string {
    color: $grey-700;
  }

  & .token.number {
    color: $light-blue-700;
    font-weight: bolder;
  }

  & .token.operator {
    color: $grey-900;
    background: transparent;
  }

  @media (max-width: $screen-xs-max) {
    font-size: 1.1em;
  }
}

pre[class*="language-"] {
  &:before,
  &:after {
    box-shadow: none;
  }
}

