//
// Utilities
// --------------------------------------------------

// image replacement
.replace {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.center {
  text-align: center;
}

.full-width {
  margin: f0;
  padding: 0;
  .row {
    margin: 0;
    padding: 0;
  }
}

input,
textarea,
keygen,
select,
button {
  outline: none;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
  @include border-radius(0);
}

select::-ms-expand {
  display: none;
}

select {
  text-indent: .01px;
  text-overflow: '';

  -webkit-appearance: none;
}

p,
ul,
ol,
dl,
h1,
h2,
h3,
h4,
h5,
a,
li,
input,
select,
submit,
label,
button,
table,
tr,
td,
th,
.breadcrumbs,
* {
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.btn {
  @include drop-shadow(0);
  @include transition (box-shadow, .28s, cubic-bezier(.4, 0, .2, 1));
  @include border-radius(4px);
  &:hover {
    @include drop-shadow(4);
  }
}

.no-shadow {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

a:focus {
  text-decoration: none !important;
}

body {
  background: #fff;
  color: #515151;
  font-family: Lato, san-serif;
}

.anchor-text:before {
  display: block;
  visibility: hidden;
  margin-top: -100px;
  height: 100px;
  content: ' ';
}

.strikethrough {
  text-decoration: line-through;
}