@font-face {
  font-family: "Sailec";
  src: url('fonts/Sailec-Regular.woff2') format('woff2'),
    url('fonts/Sailec-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Sailec";
  src: url('fonts/Sailec-Medium.woff2') format('woff2'),
    url('fonts/Sailec-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Eina01";
  src: url('fonts/Eina01-Regular.woff2') format('woff2'),
    url('fonts/Eina01-Regular.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Eina01";
  src: url('fonts/Eina01-SemiBold.woff2') format('woff2'),
    url('fonts/Eina01-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}




